stages:
  - build
  - test

image: ultimaker/cura-build-environment

buildUranium:
  stage: build
  script: 
    - docker/build.sh
  artifacts:
    paths:
      - build

testUranium:
  stage: test
  script:
    - docker/test.sh
  allow_failure: true